@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100vh;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1) !important;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.btn-submit {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white) !important;
  --bs-btn-bg: var(--dark-green) !important;
  --bs-btn-border-color: var(--dark-green) !important;
  --bs-btn-hover-bg: var(--onix) !important;
  --bs-btn-hover-color: var(--bs-white) !important;
}